html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* width: 1020px; */
  max-width: 1020px;
  /* margin:auto; */
}

.wrapper-3 {}

.wrapper-3 .get--a--quote {
  height: 648px;
  width: auto;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.wrapper-3 .get--a--quote h2 {
  padding-top: 71px;
  margin-left: 40px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -.006em;
}

.wrapper-3 .get--a--quote .description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin-left: 40px;
  margin-top: 26px;
  letter-spacing: -.0025em;
}

.wrapper-3 .form--and--info {
  display: flex;
  width: 940px;
  margin-left: 40px;
  margin-top: 45px;
}

.wrapper-3 .form--and--info>form {
  width: 620px;
  display: flex;
  flex-direction: column;
}

.wrapper-3 .form--and--info .name {
  width: 603px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .email {
  width: 603px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .subject {
  width: 603px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
}

.wrapper-3 .form--and--info .comment {
  width: 603px;
  height: 195px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
  margin-bottom: 16px;
  resize: none; 
}

.wrapper-3 .form--and--info .comment::placeholder { 
  color: #f0d8d9;
}
.wrapper-3 .form--and--info .submit {
  visibility: hidden;
  width: 619px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .info {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.wrapper-3 .info h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 2px;
  letter-spacing: 0.005em;
}

.wrapper-3 .info .description {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  letter-spacing: -.005em;
}

.wrapper-3 .contacts {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-left: 10px;
}

.wrapper-3 .contactsLocation,
.wrapper-3 .contactsPhone,
.wrapper-3 .contactsMail {
  text-align: justify;
  letter-spacing: 0.1px;
  word-spacing: -1.7px;
}

.wrapper-3 .contactsLocation {
  margin-left: -7px;
}

.wrapper-3 .contactsPhone {
  margin-top: -1px;
  margin-left: -9px;
}

.wrapper-3 .contactsMail {
  margin-left: -10px;
}

.wrapper-3 .contacts .contactIcons {
  margin-right: 10px;
}

.wrapper-3 .contactsLocation,
.wrapper-3 .contactsPhone,
.wrapper-3 .contactsMail {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.wrapper-3 .footer {
  height: 76px;
  width: auto;
  background-color: #2d303a;
  display: flex;
  height: 76px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.wrapper-3 .footer .copyright {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.01em;
}

.wrapper-3 .footer .icons img{
margin-top:7px;
}

.wrapper-3 .footer .icons > img:hover {
cursor:pointer;
}
