html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* width: 1020px; */
  max-width: 1020px;
  /* margin:auto; */
}

.wrapper-2 .portfolio {
  /*width: 1020px;*/
  height: 864px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.wrapper-2 .portfolio>h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 0px 0px 0px 40px;
  padding-top: 72px;
  letter-spacing: 0.2px;
}

.wrapper-2 .portfolio-text {
  width: 940px;
  height: 37px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 25px 0px 0px 40px;
  letter-spacing: -0.21px;
}

.wrapper-2 .portfolio-buttons {
  display: flex;
  margin-left: 31px;
  margin-top:2px;
}

.wrapper-2 .portfolio-button {
  height:20px;
  padding: 0px 5px 1px 6px;
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 11px;
}

.wrapper-2 .portfolio-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px 0px 30px;
}

.wrapper-2 .portfolio-img>div {
  width: 220px;
  height: 185px;
  background: red;
  margin: 10px;
  margin-bottom:12px;
}

.wrapper-2 .about-us {
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf");
  font-style: normal;
}
