body {
  /* width: 1020px; */
  max-width: 1020px;
  /* margin:auto; */
}

h1 {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  background: #2d303a;
  border-bottom: solid 5px #323746;
}

.logo {
  text-align: center;
  margin: 33px 0px 0px 40px;
}

.logo .logoSpan {
  display: inline-block;
  margin: 10px -119px 0px -2px;
  font-size: 24px;
  line-height: 6px;
  color: #f2f2f2;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}

.logo span .red {
  color: #f06c64;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 370px;
  margin: 0px 40px 0px 0px;
}

.navigation a {
  display: inline-block;
  margin: 10px -1px 0px -2px;
  font-size: 12px;
  line-height: 6px;
  font-weight: bold;
  color: #f2f2f2;
  font-family: "Lato";
  text-transform: uppercase;
  text-decoration: none;
}

.navigation a:hover {
  color: #f06c64;
}

.main {
  height: 595px;
  background: #f06c64;
  border-bottom: solid 5px #ea676b;
  position: relative;
}

.arrowLeft {
  display: inline-block;
  position: absolute;
  margin-top: 280px;
  left: 4%;
}

.iPhoneVertical {
  display: inline-block;
  position: absolute;
  left: 110px;
  top: -17px;
}

.iPhoneGorizontal {
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 69px;
}

.arrowRight {
  position: absolute;
  margin-top: 280px;
  right: 4%;
}

.arrowLeft:hover {
  cursor: pointer;
}

.arrowRight:hover {
  cursor: pointer;
}

.footer {
  height: 492px;
  background: #f2f2f2;
  border-bottom: solid 5px #ffffff;
  /* padding-top: 7%;
  padding-left: 3%;
  padding-right: 3%; */
}

.footer .h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  padding-left: 4%;
  padding-top: 7%;
}

.footer .servicesDescription {
  margin-top: 26px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  padding-left: 4%;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 3%;
  height: 48%;
}

.card {
  display: flex;
  margin: 1%;
  width: 31%;
  height: 41%;
}

.ellipseBack {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-left: -1%;
  background-image: url(./assets/img/Ellipse.svg);
  background-size: cover;
  width: 59px;
  height: 59px;
  border-radius: 29px;
  background-color: #eb5055;
}

.card img {
  width: 32px;
  height: 32px;
}

.cardText {
  margin-top: 3%;
  margin-left: 7%;
}

.card h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 4%;
  line-height: 16px;
}

.card p {
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}
