html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* width: 1020px; */
  max-width: 1020px;
  /* margin:auto; */
}

h1 {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  background: #2d303a;
  border-bottom: solid 5px #323746;
}

.logo {
  text-align: center;
  margin: 33px 0px 0px 40px;
}

.logo .logoSpan {
  display: inline-block;
  margin: 10px -119px 0px -2px;
  font-size: 24px;
  line-height: 6px;
  color: #f2f2f2;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}

.red {
  color: #f06c64;
}

nav {
  width: 372px;
  margin-right: 40px;
  margin-top: 3px;
  letter-spacing: -.02em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
}

.navigation ul li:before {
  color: #323746;
  content: "\2022";
  font-size: 8px;
  padding-right: 15px;
  line-height: 18px;
  top: 0;
}

.navigation ul li:first-child:before {
  content: "";
  padding-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 12.3px;
  line-height: 6px;
  color: #f2f2f2;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}

.navigation ul li a:hover {
  text-decoration: none;
  font-size: 12px;
  line-height: 6px;
  color: #f06c64;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}

.navigation a:hover {
  color: #f06c64;
}

.main {
  height: 595px;
  background: #f06c64;
  border-bottom: solid 5px #ea676b;
  position: relative;
}

.arrowLeft {
  display: inline-block;
  position: absolute;
  margin-top: 280px;
  left: 4%;
}

.iPhoneVertical {
  display: inline-block;
  position: absolute;
  left: 110px;
  top: -17px;
}

.iPhoneGorizontal {
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 69px;
}

.arrowRight {
  position: absolute;
  margin-top: 280px;
  right: 4%;
}

.arrowLeft:hover {
  cursor: pointer;
}

.arrowRight:hover {
  cursor: pointer;
}

.services {
  height: 492px;
  background: #f2f2f2;
  border-bottom: solid 5px #ffffff;
}

.services .h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  padding-left: 4%;
  padding-top: 7%;
}

.services .servicesDescription {
  margin-top: 26px;
  width: 940px;
  height: 57px;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: -.0025em;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  padding-left: 4%;
}

.crutch {
  margin-left: -2px;
  letter-spacing: -.013em;
}

.services .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 48%;
  padding-left: 3.3%;
  padding-top: 3%;
  padding-right: 3%;
}

.card {
  display: flex;
  margin: 1%;
  width: 31%;
  height: 41%;
}

.ellipseBack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-left: -1%;
  background-image: url(./assets/img/Ellipse.svg);
  width: 20%;
  height: 61%;
  border-radius: 29px;
}

.card img {
  margin: auto;
}

.cardText {
  margin-top: 3%;
  margin-left: 20px;
  text-overflow: ellipsis;
}

.card h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 4%;
  line-height: 16px;
}

.card p {
  /* width: 219px;
  height: 128px; */
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -.003em;
}

.wrapper-2 .portfolio {
  /*width: 1020px;*/
  height: 864px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.wrapper-2 .portfolio>h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 0px 0px 0px 40px;
  padding-top: 72px;
  letter-spacing: 0.2px;
}

.wrapper-2 .portfolio-text {
  width: 940px;
  height: 37px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 25px 0px 0px 40px;
  letter-spacing: -0.21px;
}

.wrapper-2 .portfolio-buttons {
  display: flex;
  margin-left: 31px;
  margin-top: 2px;
}

.wrapper-2 .portfolio-button {
  height: 19px;
  padding: 0px 5px 1px 6px;
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 11px;
}

.wrapper-2 .portfolio-button:hover {
  cursor: pointer;
  color: #dedede;
  border: solid 1px #dedede;
}

.wrapper-2 .portfolio-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0px 0px 30px;
}

.wrapper-2 .portfolio-img>div {
  width: 220px;
  height: 185px;
  background: red;
  margin: 10px;
  margin-bottom: 12px;
}

/* Показываем только 12 элементов */
.wrapper-2 .portfolio-img>div:nth-child(n+13) {
  display: none;
}

.wrapper-2 .about-us {
  height: 728px;
  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
}

.wrapper-2 .about-us>h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 0px 0px 0px 40px;
  padding-top: 72px;
  letter-spacing: 0px;
}

.wrapper-2 .about-description {
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 26px;
  letter-spacing: -.003em;
}

.wrapper-2 .about-description .crutch {
  letter-spacing: -.013em;
}

.wrapper-2 .about-us .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px 40px 0px 40px
}

.wrapper-2 .about-us .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 0px black;
  width: 300px;
  margin: 0px;
}

.wrapper-2 .about-us .card>img {
  width: 100%;
}

.wrapper-2 .about-us .card>h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 20px;
  letter-spacing: -.003em;
}

.wrapper-2 .about-us .card>p {
  width: 301px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin-left: 0;
  padding-top: 7px;
  letter-spacing: 0px;
}

.wrapper-2 .about-us .card .icons {
 /*margin-top:2.4px;*/
}

.wrapper-2 .about-us .card .icon {
  margin-top: 20px;
  margin-right: 1px;
}

.wrapper-2 .about-us .card .icon:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf");
  font-style: normal;
}

.wrapper-3 {}

.wrapper-3 .get--a--quote {
  height: 648px;
  width: auto;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.wrapper-3 .get--a--quote h2 {
  padding-top: 71px;
  margin-left: 40px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -.006em;
}

.wrapper-3 .get--a--quote .description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin-left: 40px;
  margin-top: 26px;
  letter-spacing: -.0025em;
}

.wrapper-3 .form--and--info {
  display: flex;
  width: 940px;
  margin-left: 40px;
  margin-top: 45px;
}

.wrapper-3 .form--and--info>form {
  width: 620px;
  display: flex;
  flex-direction: column;
}

.wrapper-3 .form--and--info .name {
  width: 603px;
  height: 39px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .email {
  width: 603px;
  height: 39px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .subject {
  width: 603px;
  height: 39px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 15px;
}

.wrapper-3 .form--and--info .comment {
  width: 603px;
  height: 195px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
  margin-bottom: 16px;
  resize: none; 
}

.wrapper-3 .form--and--info .comment::placeholder { 
  color: #f0d8d9;
}

.wrapper-3 .form--and--info .submit {
  visibility: hidden;
  width: 619px;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .info {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.wrapper-3 .info h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 2px;
  letter-spacing: 0.005em;
}

.wrapper-3 .info .description {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  letter-spacing: -.005em;
}

.wrapper-3 .contacts {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-left: 10px;
}

.wrapper-3 .contactsLocation,
.wrapper-3 .contactsPhone,
.wrapper-3 .contactsMail {
  text-align: justify;
  letter-spacing: 0.1px;
  word-spacing: -1.7px;
}

.wrapper-3 .contactsLocation {
  margin-left: -7px;
}

.wrapper-3 .contactsPhone {
  margin-top: -1px;
  margin-left: -9px;
}

.wrapper-3 .contactsMail {
  margin-left: -10px;
}

.wrapper-3 .contacts .contactIcons {
  margin-right: 10px;
}

.wrapper-3 .contactsLocation,
.wrapper-3 .contactsPhone,
.wrapper-3 .contactsMail {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.wrapper-3 .footer {
  height: 76px;
  width: auto;
  background-color: #2d303a;
  display: flex;
  height: 76px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.wrapper-3 .footer .copyright {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.01em;
}

.wrapper-3 .footer .icons img{
margin-top:7px;
}

.wrapper-3 .footer .icons > img:hover {
cursor:pointer;
}
