* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  /* width: 1020px; */
  max-width: 1020px;
  margin: auto;
}

h1 {
  display: none;
}

.sidebar {
  display: none;
  margin-right: 20px;
}

#toggle {
  display: none;
}

.leftbar {
  position: absolute;
  width: 80%;
  height: 600px;
  background-color: #2c3e50;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  left: -102%;
  /* for sidebar to stay on top */
  z-index: 1;
  transition: left 0.5s ease-in-out;
}

.leftbar .logo {
  width: 0;
}

.exit {
  cursor: pointer;
  font-weight: 800;
  color: white;
  float: left;
  padding: 1.1rem;
}

.content {
  position: block;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease-in-out;
  margin-right: 50px;
}

.button {
  position: absolute;
  cursor: pointer;
  font-weight: 800;
  color: white;
  font-size: 40px;
  padding: 20px 50px;
}

.content p {
  margin: 0 auto;
  text-align: center;
  padding-top: 20%;
  font-size: 50px;
}

#toggle:checked~.leftbar {
  left: 0;
}

#toggle:checked~.content {
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  background: #2d303a;
  border-bottom: solid 5px #323746;
}

.logo {
  text-align: center;
  margin: 33px 0px 0px 40px;
}

.logo .logoSpan {
  display: inline-block;
  margin: 10px -119px 0px -2px;
  font-size: 24px;
  line-height: 6px;
  color: #f2f2f2;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}

.red {
  color: #f06c64;
}

nav {
  width: 372px;
  margin-right: 40px;
  margin-top: 3px;
  letter-spacing: -.02em;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
}

.navigation ul li:before {
  color: #323746;
  content: "\2022";
  font-size: 8px;
  padding-right: 15px;
  line-height: 18px;
  top: 0;
}

.navigation ul li:first-child:before {
  content: "";
  padding-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 12.3px;
  line-height: 6px;
  color: #f2f2f2;
  font-family: "Lato";
  font-weight: 700;
  text-align: justify;
}

.navigation ul li a:hover {
  color: #f06c64;
}

.navigation a .active {
  -webkit-box-shadow: 0px 0px 30px 10px rgba(107, 91, 94, 1);
  -moz-box-shadow: 0px 0px 30px 10px rgba(107, 91, 94, 1);
  box-shadow: 0px 0px 30px 10px rgba(107, 91, 94, 1);
}

.main {
  height: 58vw;
  background: #f06c64;
  border-bottom: solid 5px #ea676b;
  position: relative;
}

.arrowLeft {
  display: inline-block;
  position: absolute;
  margin-top: 27vw;
  left: 4%;
  width: 1.6vw;
  height: 2.7vw;
}

.iPhoneVertical {
  display: inline-block;
  position: absolute;
  left: 10vw;
  top: 1.7vw;
  width: 57%;
}

.iPhoneGorizontal {
  display: inline-block;
  position: absolute;
  right: 8vw;
  top: 6.7vw;
  width: 57%;
}

.arrowRight {
  position: absolute;
  margin-top: 27vw;
  right: 4%;
  width: 1.6vw;
  height: 2.7vw;
}

.arrowLeft:hover {
  cursor: pointer;
  opacity: 0.5;
}

.arrowRight:hover {
  cursor: pointer;
  opacity: 0.5;
}

.slide1 {
  display: block;
}

.slide2 {
  display: none;
}

.slide2>img {
  width: 100%;
  height: 100%;
}

.services {
  background: #f2f2f2;
  border-bottom: solid 5px #ffffff;
  padding-bottom: 20px;
}

.services .h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  padding-left: 4%;
  padding-top: 7%;
}

.services .servicesDescription {
  margin-top: 26px;
  line-height: 30px;
  font-size: 18px;
  letter-spacing: -.0025em;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  padding-left: 4%;
  padding-right: 4%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.services .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 48%;
  padding-left: 3.3%;
  padding-top: 5%;
  padding-right: 3%;
}

.card {
  padding: 0.4%;
  display: flex;
  width: 305px;
  height: 41%;
}

.card h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipseBack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-left: -1%;
  background-image: url(./assets/img/Ellipse.svg);
  width: 20%;
  height: 61%;
  border-radius: 29px;
}

.card img {
  margin: auto;
}

.cardText {
  margin-top: 3%;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis
}

.card h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  margin-bottom: 4%;
  line-height: 16px;
}

.card p {
  /* width: 219px;
  height: 128px; */
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -.003em;
}

.wrapper-2 .portfolio {
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.wrapper-2 .portfolio>h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  margin: 0px 0px 0px 40px;
  padding-top: 72px;
  letter-spacing: 0.2px;
}

.wrapper-2 .portfolio-text {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin: 30px 35px 15px 35px;
  letter-spacing: -0.21px;
}

.wrapper-2 .portfolio-buttons {
  display: flex;
  margin-left: 31px;
  margin-top: 2px;
}

.wrapper-2 .portfolio-button {
  height: 19px;
  padding: 0px 5px 1px 6px;
  border-radius: 5px;
  border: 1px solid #666d89;
  font-size: 12px;
  line-height: 20px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin-left: 11px;
}

.wrapper-2 .portfolio-button:hover {
  cursor: pointer;
  color: #dedede;
  border: solid 1px #dedede;
}

.wrapper-2 .portfolio-button.active {
  color: #dedede;
  border: solid 1px #dedede;
}

.wrapper-2 .portfolio-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 24px 0px 24px;
}

.wrapper-2 .portfolio-img>div {
  width: 220px;
  height: 185px;
  background: red;
  margin: 10px;
  margin-bottom: 12px;
}

.wrapper-2 .portfolio-img>div.active {
  margin: 5px;
  margin-bottom: 7px;
  border: solid #F06C64 5px;
}

.wrapper-2 .portfolio-img>div:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* Показываем только 12 элементов */
.wrapper-2 .portfolio-img>div:nth-child(n+13) {
  display: none;
}

.wrapper-2 .about-us {
  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
  padding-bottom: 20px;
}

.wrapper-2 .about-us>h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  margin: 0px 0px 0px 40px;
  padding-top: 72px;
  letter-spacing: 0px;
}

.wrapper-2 .about-description {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 26px;
  letter-spacing: -.003em;
}

.wrapper-2 .about-us .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 45px 20px 0px 20px
}

.wrapper-2 .about-us .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 0px black;
  width: 30vw;
  margin: 0px;
}

.wrapper-2 .about-us .card>img {
  width: 100%;
}

.wrapper-2 .about-us .card>img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.wrapper-2 .about-us .card>h2 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  margin-top: 20px;
  letter-spacing: -.003em;
}

.wrapper-2 .about-us .card>p {
  max-width: 301px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin-left: 0;
  padding-top: 7px;
  letter-spacing: 0px;
}

.wrapper-2 .about-us .card .icons {}

.wrapper-2 .about-us .card .icon {
  margin-top: 20px;
  margin-right: 1px;
}

.wrapper-2 .about-us .card .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.ttf");
  font-style: normal;
}

.wrapper-3 {}

.wrapper-3 .get--a--quote {
  /* height: 648px; */
  width: auto;
  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.wrapper-3 .get--a--quote h2 {
  padding-top: 71px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  letter-spacing: -.006em;
}

.wrapper-3 .get--a--quote .description {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 26px;
  letter-spacing: -.0025em;
}

.wrapper-3 .form--and--info {
  display: flex;
  width: 94vw;
  margin-left: 40px;
  margin-top: 45px;
  flex-wrap: wrap;
}

.wrapper-3 .form--and--info>form {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.wrapper-3 .form--and--info .name {
  width: 50vw;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .email {
  width: 50vw;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 15px;
  margin-bottom: 14px;
}

.wrapper-3 .form--and--info .subject {
  width: 50vw;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .comment {
  width: 50vw;
  height: 193px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  padding-left: 15px;
  padding-top: 7px;
  margin-bottom: 16px;
  resize: none;
}

.wrapper-3 .form--and--info .comment::placeholder {
  color: #f0d8d9;
}

.wrapper-3 .form--and--info .submit {
  width: 52vw;
  height: 38px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: center;
  padding-left: 15px;
  margin-bottom: 16px;
}

.wrapper-3 .form--and--info .submit:hover {
  border: solid black 1px;
  opacity: 0.5;
}

.wrapper-3 .info {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 35px;
}

.wrapper-3 .info h3 {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: justify;
  margin-top: 2px;
  letter-spacing: 0.005em;
}

.wrapper-3 .info .description {
  /* width: 300px; */
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  letter-spacing: -.005em;
}

.wrapper-3 .contacts {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-left: 10px;
}

.wrapper-3 .contactsLocation,
.wrapper-3 .contactsPhone,
.wrapper-3 .contactsMail {
  text-align: justify;
  letter-spacing: 0.1px;
  word-spacing: -1.7px;
}

.wrapper-3 .contactsLocation {
  margin-left: -7px;
}

.wrapper-3 .contactsPhone {
  margin-top: -1px;
  margin-left: -9px;
}

.wrapper-3 .contactsMail {
  margin-left: -10px;
}

.wrapper-3 .contacts .contactIcons {
  margin-right: 10px;
}

.wrapper-3 .contactsLocation,
.wrapper-3 .contactsPhone,
.wrapper-3 .contactsMail {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

.wrapper-3 .footer {
  height: 76px;
  width: auto;
  background-color: #2d303a;
  display: flex;
  height: 76px;
  flex-direction: row;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.wrapper-3 .footer .copyright {
  text-decoration: none;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.01em;
}

.wrapper-3 .footer .icons img {
  margin-top: 7px;
}

.wrapper-3 .footer .icons>img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.wrapper-3 .message-block {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* opacity: 0.3; */
  background: #0008;
}

.wrapper-3 .hidden {
  display: none;
}

.wrapper-3 .message {
  position: absolute;
  top: 33%;
  left: 33%;
  text-align: justify;
  padding: 1%;
  height: 30%;
  width: 30%;
  background-color: #e6c875;
  border-radius: 10px;
}

.wrapper-3 .close-button {
  display: inline-block;
  position: absolute;
  bottom: 1%;
  left: 40%;
  color: white;
  background: black;
  border-radius: 3px;
  width: 50px;
}

@media (max-width:768px) {
  .wrapper-3 .info {
    margin-left: 0;
    margin-right: 20px;
  }

  .wrapper-3 .form--and--info>form {
    width: 85vw;
  }

  .wrapper-3 .form--and--info .name {
    width: 85vw;
  }

  .wrapper-3 .form--and--info .email {
    width: 85vw;
  }

  .wrapper-3 .form--and--info .subject {
    width: 85vw;
  }

  .wrapper-3 .form--and--info .comment {
    width: 85vw;
  }

  .wrapper-3 .form--and--info .submit {
    width: 88vw;
  }

  .wrapper-3 .info {
    width: 85vw;
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    display: inline-block;
  }

  .navigation ul {
    display: none;
  }

  nav {
    width: 372px;
    margin-right: 40px;
    margin-top: 3px;
    letter-spacing: -.02em;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .navigation--mini ul li {
    margin: 20px 0 0 10px;
  }

  .navigation--mini ul li:before {
    content: "   ";
    font-size: 12px;
    padding-right: 15px;
    line-height: 18px;
    top: 0;
  }


  .navigation--mini ul li a {
    padding-left:20px;
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    color: #f2f2f2;
    font-family: "Lato";
    font-weight: 700;
    text-align: justify;
  }

  .navigation--mini ul li a:hover {
    color: #f06c64;
  }

  .navigation--mini a .active {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(107, 91, 94, 1);
    -moz-box-shadow: 0px 0px 30px 10px rgba(107, 91, 94, 1);
    box-shadow: 0px 0px 30px 10px rgba(107, 91, 94, 1);
  }
}

@media (max-width: 527px) {
  .wrapper-2 .about-us .card {
    width: 80vw;
    padding-bottom: 20px;
  }

  .wrapper-2 .portfolio-img>div {
    width: 80vw;
    height: 80vw;
  }

  .wrapper-2 .portfolio-img>div>img {
    width: 100%;
    height: 100%;
  }
}

@import "./styleMob.css";
